{% extends 'webapp/base.html' %}

{% block title %}{% endblock %}

{% block content %}



<div class="section center">
<h1>Přihlášení na závěrečný kurz</h1>
<h2>Závěrečný kurz pro projekt: Klima? Bez vody a vegetace to nepůjde!</h2>
<h2>Termín:
</h2>
    <ul><li>25.9.2025 Přednášky</li><li>26.9.2025 Terénní exkurze</li></ul><br />

<p>Pokud se nemůžete zúčastnit kurzů v plnném rozsahu, označtě to prosím ve spodní části formuláře.</p><br />
    <h2>
        V prostorách ENKI o.p.s., Dukelská 145, Třeboň
    </h2>
<div class="contact-form">
<form id="contact-form" method="post">
    {% csrf_token %}
    <div class="form-field">
      {{ form.first_name }}
    </div>
    <div class="form-field">
      {{ form.last_name }}
    </div>
    <div class="form-field">
      {{ form.email }}
    </div>
    <div class="form-field">
      {{ form.phone }}
    </div>
      <div class="form-field">
      {{ form.note }}
    </div>

  <table style="width: 100%; border-collapse: collapse;">
    <tr>
        <td style="font-size: 20px; font-weight: bold; color: #333; padding: 10px; text-align: right;">
            Zúčastním se termínu: 25.9. (Přednášky)
        </td>
        <td style="padding: 10px; text-align: left;">
            {{ form.day_1 }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 20px; font-weight: bold; color: #333; padding: 10px; text-align: right;">
            Zúčastním se termínu: 26.9. (Exkurze)
        </td>
        <td style="padding: 10px; text-align: left;">
            {{ form.day_2 }}
        </td>
    </tr>
</table>





    <button class="basicbutton graybutton" type="submit">Odeslat</button>
</form>
</div>

{% comment %}
<div class="section center margintop-10">
   <p>Po odeslání formuláře dostanete ověřovací email, který potvrďte.</p>
</div>
{% endcomment %}


</div>

{% endblock %}