{% extends 'webapp/base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{{ page.html|safe }}


<div class="section center margintop10">

<div class="contact-form">
<form id="contact-form" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-field half-width">
            {{ form.name }}
        </div>
        <div class="form-field half-width">
            {{ form.email }}
        </div>
    </div>
    <div class="form-field">
        {{ form.message }}
    </div>
    <button class="basicbutton graybutton" type="submit">Odeslat</button>
</form>
</div>
</div>
{% endblock %}
