{% extends 'webapp/base.html' %}

{% block title %}Termíny kurzů pro {{ region.name }}{% endblock %}

{% block content %}

<div class="section center">
    <h1>Termíny kurzů pro {{ region.name }}</h1>
{% comment %}
    <ul>
        {% for course_detail in region.coursedetail_set.all %}
            <li>{{ course_detail.course.name }} - {{ course_detail.date }}
                <img src="{{ course_detail.course.image_optimal.url }}" alt="{{ course.headline }}" /></p>
                {% if course_detail.is_full %}

                    <p>Kurz je plně obsazen.</p>
            {% else %}
                <p>K dispozici je {{ course_detail.available_seats }} míst z celkových {{ course_detail.max_capacity }}.</p>
            {% endif %} <a href="{% url 'register_course' course_detail.pk %}">Registrace na kurz</a></p>
        </li>

        {% empty %}
            <li></li>
        {% endfor %}
</ul>
{% endcomment %}



  <div class="link-container">
  {% for course_detail in region.coursedetail_set.all %}
      <div class="link-lecture">
          <h2>{{ course_detail.course.headline }}</h2>
          <p>{{ course_detail.date }}</p>
          {% if course_detail.is_full %}
             <p>Kurz je plně obsazen.</p>
          {% else %}
             <p>K dispozici je {{ course_detail.available_seats }} míst z celkových {{ course_detail.max_capacity }}.</p>
        {% endif %}


          <a href="{% url 'register_course' course_detail.pk %}">
              <img src="{{ course_detail.course.image_optimal.url }}" alt="">
              <p><button class="basicbutton bluebutton">Registrace na kurz</button></p>
          </a>
      </div>
{% empty %}
    <p>V tomto kraji nyní nejsou plánovány žádné kurzy.</p>
      {% endfor %}




</div>



{% endblock %}
